
*{margin:0;padding:0;}

body{
	background-image:url(pixelart);
	width:100%;
	height:100%;
}

#pokedex{
	background-color:#B22222;
	height:633px;
	width:353px;
	text-align:center;
	border-radius: 40px;
	position:absolute;
	right:50%;
	left:50%;
	transform: translate(-50%, -50%);
	top:50%;
	background-image:url(red.pokedex.jpg);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	
}

.logo{
	position:relative;
	top:9px;
}

#screen{
	color:red;
	background-color:#F0E68C;
	text-align:center;
	width:344px;
	height:252px;
	position:relative;
	margin-left:5px;
	top:20px;
	border-radius:5px;
	background-image:url(paisagem.png);
}

#screenimg{
	height:100%;

}

#balls{
	width:310px;
	position:relative;
	margin-top:40px;
	margin-left:20px;
}

.img1{
	width:20px;
	height:20px;
}

#pokeinfo{
	background-color:#F0E68C;
	width:325px;
	height:123px;
	border-radius:5px;
	position:relative;
	margin-left:15px;
	margin-top:17px;
	text-align:center;
}

.info2{
	margin-top:10px;
	font-size:17px;
}

.button{
	width:80px;
	height:40px;
	margin-top:18px;
	border-radius:10px;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	cursor: pointer;
	background-color: white;
	transition-duration: 0.4s;
	margin-left:5px;
	outline:none;
}

.button:hover{
	background-image:linear-gradient(rgb(238, 4, 4), rgb(196, 5, 5) ,rgb(138, 9, 9));
	color:white;
}

/*Test Responsivo*/

@media only screen and (max-width: 960px) {
body {height:100%
}
}